.admin{
    padding-top: 15px;
    margin-left:  0;
    width: 100vw;
    padding-left: 0;
}
.container{
     border-radius:20px;
     background-color: rgba(31, 41, 55, 1);
     display:flex;
     justify-content: center;
     align-items: center;
}
.apexcharts-legend-text{
    color:white;
}

.ant-statistic-title{
    color:white !important;
}
.stats .ant-statistic-content-value-int{
    color:rgba(139, 92, 246, 1) !important;
}

tspan{
    color:white !important;
}
