* {
  margin: 0;
}
.home {
  width: 100vw;
  height: 100vh;
  margin-right: 40px !important;
}
.one {
  background-image: url("./gujarat.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.PageContent {
  padding-left: 0 !important;
}
.spaceCard {
  position: relative;
  left: -5vw;
}
